.blocks{
    display: grid;
    gap: 10px;
    grid-template: 
    "name info info"  1fr
    "abilities points history " 1fr
    "abilities attacks traits" 1fr
    "languages equipment traits " 1fr/
    30% 30% 30%;
    



    &_name{
        grid-area: name;
        background-color: lightblue;
    }&_info{
        grid-area:  info ;
        background-color: red;
    }&_abilities{
        grid-area : abilities;
        background-color: yellow;
    }
    &_points{
        grid-area: points;
        background-color: green;
    }
    &_history{
        grid-area: history;
        background-color: blue;
    }
    &_attacks{
        grid-area: attacks;
        background-color: violet;
    }
    &_equipment{
        grid-area: equipment;
        background-color: brown;
    }
    &_languages{
        grid-area: languages;
        background-color: pink;
    }
    &_traits{
        grid-area: traits;
        background-color: mediumaquamarine;
    }
    

}