* {
  margin: 0;
  padding: 0;
}

.global {
    margin: 3em 0;
}

.name_bar {
  text-align: center;
  font-size: 20px;
}

textarea {
  width: 100%;
  resize: none;
  font-size: 20px;
}

input {
  font-size: 20px;
  text-align: center;
}

.char {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 30px;
  padding: 0 50px;
}

.char_name {
  display: block;
  margin-right: 80px;
}

.char_name input {
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  border: none;
  border-bottom: 1px solid black;
}

.char_info {
  padding: 0 50px;
  display: -ms-grid;
  display: grid;
  width: 90%;
  grid-template: "classname background player" auto
 "race aligment points" auto/
 30% 30% 30%;
  gap: 10px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.char_info input {
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  border: none;
  border-bottom: 1px solid black;
}

.char_info-classname .classes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.char_info-classname input {
  width: 30%;
}

.char_info-classname select {
  margin-right: 7px;
  width: 65%;
}

.char_info-race {
  grid-area: race;
}

.char_info-background {
  grid-area: background;
}

.char_info-aligment {
  grid-area: aligment;
}

.char_info-player_name {
  grid-area: player;
}

.char_info-experience_points {
  grid-area: points;
}

.information {
  margin-top: 20px;
  display: -ms-grid;
  display: grid;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  grid-gap: 30px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  grid-template: "main points about" auto
 "atks fet1 fet2" auto
 "lang fet1  fet2" auto/
 30% 20% 20%;
  padding: 0 50px;
}

.information_main {
  grid-area: main;
  display: -ms-grid;
  display: grid;
  -webkit-column-gap: 20px;
          column-gap: 20px;
  grid-template: "prop inspiration" auto
 "prop prof-bonus" auto
 "prop throws" auto
 "prop skills " auto/
 25% auto;
  min-width: 300px;
}

.information_main .properties-items {
  display: block;
  min-width: 110px;
  grid-area: prop;
}

.information_main .properties-items .property_item {
  display: block;
  height: 100px;
  text-align: center;
  margin-top: 30px;
  border: 1px solid black;
  border-radius: 10px;
  z-index: 0;
}

.information_main .properties-items .property_item:first-child {
  margin-top: 0;
}

.information_main .properties-items .property_item img {
  margin-top: 5px;
  width: 30px;
  height: 30px;
}

.information_main .properties-items .property_item input {
  margin-left: 15px;
  text-align: center;
  border: none;
  width: 40px;
  font-size: 20px;
}

.information_main .properties-items .property_item-mod {
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  margin-top: 5px;
  padding: 5px;
  background-color: white;
  width: 50px;
  height: 20px;
  border: 1px solid black;
  border-radius: 10px;
  z-index: 1;
}

.information_main .inspiration {
    /*дублікат*/
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  grid-area: inspiration;
  border: 1px solid black;
  border-radius: 10px;
  text-align: center;
}

.information_main .inspiration input {
  margin-left: 20px;
  border: none;
  width: 40px;
  font-size: 20px;
}

.information_main .proficiency_bonus {
  margin-top: 10px;
    /*дублікат*/
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  min-width: 240px;
  grid-area: prof-bonus;
  border: 1px solid black;
  border-radius: 10px;
  text-align: center;
}

.information_main .proficiency_bonus .bonus_number {
  margin-top: 5px;
}

.information_main .saving_throws {
  display: block;
  margin-top: 10px;
  width: 100%;
  min-width: 240px;
  border: 1px solid black;
  border-radius: 10px;
  grid-area: throws;
}

.information_main .saving_throws .name_bar {
  margin-top: 10px;
}

/*дублікат*/
.information_main .saving_throws .st-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  list-style-type: none;
  padding: 0 10px;
  width: auto;
  margin-top: 5px;
}

.information_main .saving_throws .st-item:last-child {
  margin-bottom: 10px;
}

.information_main .saving_throws .st-item .st_input {
  margin-right: 10px;
}

.information_main .saving_throws .st-item .span {
  margin: 0 3px;
  border-bottom: 1px solid black;
  width: 100%;
}

.information_main .skills {
  display: block;
  grid-area: skills;
  margin-top: 10px;
  width: 100%;
  min-width: 240px;
  border: 1px solid black;
  border-radius: 10px;
}

/*дублікат*/
.information_main .skills .skill-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  list-style-type: none;
  padding: 0 10px;
  width: auto;
  margin-top: 5px;
}

.information_main .skills .skill-item:last-child {
  margin-bottom: 10px;
}

.information_main .skills .skill-item .span {
  margin: 0 3px;
  border-bottom: 1px solid black;
  width: 100%;
}

.information_main .skills .skill-item .skill_input {
  margin-right: 10px;
}

.information_main .skills .skill-item .skill_name {
  margin-right: 10px;
  white-space: nowrap;
}

.information_main .skills .skill-item .skill_mod {
  color: #9ba09b;
}

.information_points {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding: 10px 0;
  grid-area: points;
  border: 1px solid black;
  border-radius: 10px;
  text-align: center;
  width: 100%;
  min-width: 250px;
  height: 740px;
}

.information_points input {
  margin-top: 10px;
  font-size: 20px;
}

.information_points .armor_class {
  margin-top: 10px;
  border: 1px solid black;
  border-radius: 10px;
  width: 30%;
}

.information_points .armor_class input {
  width: 60%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.information_points .initiative {
  margin-top: 10px;
  border: 1px solid black;
  border-radius: 10px;
  width: 30%;
  font-size: 15px;
  word-wrap: break-word;
}

.information_points .initiative input {
  width: 60%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.information_points .speed {
  margin-top: 10px;
  border: 1px solid black;
  border-radius: 10px;
  width: 30%;
}

.information_points .speed input {
  width: 60%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.information_points .current_health {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 20px;
  border: 1px solid black;
  border-radius: 10px;
  width: 90%;
  padding: 5px 0;
}

.information_points .current_health input {
  margin: 5px 0;
  width: 60%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.information_points .temporary_heaths {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 20px;
  border: 1px solid black;
  border-radius: 10px;
  width: 90%;
  padding: 5px 0;
}

.information_points .temporary_heaths input {
  margin: 5px 0;
  width: 60%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.information_points .hit_dice {
  margin-top: 20px;
  border: 1px solid black;
  border-radius: 10px;
  width: 90%;
  padding: 5px 0;
}

.information_points .hit_dice label {
  display: block;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 5px;
}

.information_points .hit_dice input {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.information_points .hit_dice #diceCount {
  display: block;
  width: 30%;
  margin: auto;
}

.information_points .hit_dice #diceNumber {
  width: 30px;
}

.information_points .hit_dice .name_bar {
  margin: 5px 0;
}

.information_points .death_saves {
    /*дублікат*/
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 20px;
  border: 1px solid black;
  border-radius: 10px;
  width: 90%;
  padding: 5px 0;
}

.information_points .death_saves .name_bar {
  margin-top: 5px;
}

.information_points .perception {
  margin-top: 20px;
  border: 1px solid black;
  border-radius: 10px;
  width: 30%;
}

.information_points .perception input {
  width: 60%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.information_points .perception .name_bar {
  word-wrap: break-word;
  margin-top: 5px;
}

.information_points .vision {
  margin-top: 20px;
  border: 1px solid black;
  border-radius: 10px;
  width: 30%;
}

.information_points .vision input {
  width: 60%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.information_points .vision .name_bar {
  margin-top: 5px;
}

.information_about_char {
  margin-top: 25px;
  grid-area: about;
}

.information_about_char .name_bar {
  margin-bottom: 15px;
}

.information_attacks_spells {
  grid-area: atks;
  border: 1px solid black;
  border-radius: 10px;
  padding: 10px;
  width: auto;
}

.information_attacks_spells .attacks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 10px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.information_attacks_spells .attacks input {
  width: 90%;
  margin: 5px;
  font-size: 20px;
}

.information_attacks_spells .attacks label {
  margin-left: 5px;
}

.information_languages {
  grid-area: lang;
}

.information_languages textarea {
  height: 285px;
}

.information_features_1 {
  grid-area: fet1;
}

.information_features_2 {
  grid-area: fet2;
}
/*# sourceMappingURL=charlist.css.map */